[Desktop Entry]
Type=Application
Name=Best Buds Weight Station
Exec=best-buds-weight-station
Icon=best-buds-weight-station
Categories=Utility;
Terminal=false
